@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-container {
    width: 100%;
    max-width: 480px;
    position: fixed;
    height: 796px;
    background-color: rgb(255, 255, 255);

    transform: scaleX(0);
    transition: transform 1s;
    padding-left: 15px;
    padding-right: 15px;
    // margin-left: 100px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu__box {
    max-width: 450px;
    display: flex;
    flex-direction: column;

    padding-right: 0px;
    margin: 0px;
    padding: 0;
  }
  .is-open {
    transform: scaleX(1);
    opacity: 1;
    pointer-events: all;
  }

  .close-menu,
  .open-menu {
    cursor: pointer;
    &:hover {
      fill: #2196f3;

      background-color: transparent;
    }
  }
  .open-menu {
    position: relative;
    top: -30px;
    right: -260px;
    margin: 10px;
    width: 100%;
    max-width: 320px;
  }

  .close-menu {
    position: absolute;
    top: 15px;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    font-size: 30px;
  }
  .mobile-closebutton {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 0%;

    fill: rgb(214, 51, 51);
    cursor: pointer;

    &:hover {
      fill: #2196f3;
    }
  }

  .mobile-link {
    color: #212121;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-bottom: 36px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    &:hover {
      color: #2196f3;
      cursor: pointer;
      background-color: transparent;
    }

    &:focus {
      color: #2196f3;
      cursor: pointer;
      background-color: transparent;
    }
  }
  .mobile-link--phone {
    color: #2196f3;
    font-size: 34px;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
  .mobile-link--mail {
    display: inline-block;
    color: #757575;
    font-size: 24px;
    padding-top: 50px;
  }

  .menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 48px;
    list-style-type: none;
  }
  .menu-wrap--contact {
    padding-top: 250px;
    text-decoration: none;
  }
  .menu-wrap--socials {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .menu-socials {
    color: #2196f3;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }

  .menu-socials-line {
    margin-left: 10px;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    width: 768px;
    position: fixed;
    height: 800px;
    background-color: white;
    transform: translateX(-500px);
    transition: transform 1s;
    padding: 0 40px;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: red;

    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .is-open {
    transform: translateX(0);
    display: none;
    opacity: 1;
    pointer-events: all;
  }

  .close-menu,
  .open-menu {
    cursor: pointer;
    display: none;
  }
  .open-menu {
    position: relative;
    top: 5px;
    display: none;
  }

  .close-menu {
    position: absolute;
    top: 15px;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    font-size: 30px;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    width: 480px;
    position: fixed;
    height: 800px;
    background-color: white;
    transform: translateX(-500px);
    transition: transform 1s;
    padding: 0 40px;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: red;
  }

  .is-open {
    transform: translateX(0);
    display: none;
  }

  .lose-menu,
  .open-menu {
    cursor: pointer;
    display: none;
  }

  .open-menu {
    position: relative;
    top: 5px;
    display: none;
  }

  .close-menu {
    position: absolute;
    top: 15px;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    font-size: 30px;
    display: none;
  }
}
