@media screen and (min-width: 768px) and (max-width: 1199px) {
  .js-menu-container {
    width: 480px;
    position: fixed;
    height: 800px;
    background-color: white;
    transform: translateX(-500px);
    transition: transform 1s;
    padding: 0 40px;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: red;
  }

  .is-open {
    transform: translateX(0);
    display: none;
  }

  .js-close-menu,
  .js-open-menu {
    cursor: pointer;
    display: none;
  }

  .js-open-menu {
    position: relative;
    top: 5px;
    display: none;
  }

  .js-close-menu {
    position: absolute;
    top: 15px;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    font-size: 30px;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .js-menu-container {
    width: 480px;
    position: fixed;
    height: 800px;
    background-color: white;
    transform: translateX(-500px);
    transition: transform 1s;
    padding: 0 40px;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-color: red;
  }

  .is-open {
    transform: translateX(0);
    display: none;
  }

  .js-close-menu,
  .js-open-menu {
    cursor: pointer;
    display: none;
  }

  .js-open-menu {
    position: relative;
    top: 5px;
    display: none;
  }

  .js-close-menu {
    position: absolute;
    top: 15px;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    font-size: 30px;
    display: none;
  }
}
