@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header__menu {
    width: 450px;

    padding-left: 15px;
    padding-right: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
  }
  .header__logo {
    width: 134px;
    height: 28px;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .link {
    color: #212121;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: none;
    &:hover {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }

    &:focus {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }
  }
  .link__page {
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: none;
    &:hover {
      color: #2196f3;
      cursor: pointer;
      background-color: transparent;
    }
  }
  .link--contact {
    line-height: 1.17;
    margin-right: 15px;
    display: none;
  }

  .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .contact__icon {
    fill: #757575;
    display: none;
    &:hover,
    .contact__link:hover {
      fill: #2196f3;
      cursor: pointer;
      transition: cubic-bezier(250ms);
    }
  }
  .web {
    color: #2196f3;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 1.19;
  }

  .studio {
    color: #000000;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
  }

  .header__menu {
    width: 768px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
  }
  .header__logo {
    width: 134px;
    height: 28px;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .link {
    color: #212121;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    &:hover {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }

    &:focus {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }
  }
  .link__page {
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    &:hover {
      color: #2196f3;
      cursor: pointer;
      background-color: transparent;
    }
  }
  .link--contact {
    line-height: 1.17;
    margin-right: 15px;
  }

  .header__contact {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .contact__icon {
    fill: #757575;

    &:hover,
    .contact__link:hover {
      fill: #2196f3;
      cursor: pointer;
      transition: cubic-bezier(250ms);
    }
  }
  .web {
    color: #2196f3;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 1.19;
  }

  .studio {
    color: #000000;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    min-width: 1200px;

    display: flex;

    justify-content: space-between;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 25px;
  }

  .header__menu {
    width: 1200px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }
  .header__logo {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .link {
    color: #212121;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    &:hover {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }

    &:focus {
      color: var(--hovercolor);
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }
  }

  .link--contact {
    line-height: 1.17;
    margin-right: 15px;
  }

  .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__icon {
    fill: #757575;

    &:hover,
    .contact__link:hover {
      fill: #2196f3;
      cursor: pointer;
    }
  }
  .link__page {
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 3px;
    margin-left: 50px;
    position: relative;

    &:hover {
      color: #2196f3;
      cursor: pointer;
      background-color: transparent;
      transition: cubic-bezier(250ms);
    }
  }

  .web {
    color: #2196f3;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 1.19;
  }

  .studio {
    color: #000000;
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 1.19;
  }
}
