@media screen and (min-width: 320px) and (max-width: 767px) {
  .whatwedo {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    // background-color: aquamarine;
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .whatwedo {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    // background-color: aquamarine;
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    // background-color: aquamarine;
  }

  .section__paragraf {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: solid;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding-bottom: 50px;
  }

  .whatwedo__box {
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
  }

  .whatwedo__box .whatwedo__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 70px;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    font-family: var(--main-font);
    font-style: normal;

    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .whatwedo__figure {
    margin: 0 auto;
    background-color: #ffffff;
  }
}
