@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 100%;
  }
  .team__container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team__box {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team__figure {
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team__description {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212121;
    background-color: #ffffff;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.7;
    margin: 0%;
    gap: 0%;
  }

  .section__paragraf {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  .socials__icon {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .socials__icon--team {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;

    &:hover {
      fill: #ffffff;
      background-color: #2196f3;
      cursor: pointer;
      transition: 250ms;
    }
  }

  .team__icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 5px;
    padding: 0;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__container {
    width: 768px;
  }
  .team__box {
    width: 354px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }

  .team__figure {
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__description {
    font-family: var(--main-font);
    color: #212121;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    width: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .section__paragraf {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  .socials__icon {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .socials__icon--team {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;

    &:hover {
      fill: #ffffff;
      background-color: #2196f3;
      cursor: pointer;
      transition: 250ms;
    }
  }

  .team__icons-box {
    width: 354px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
  }

  .img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .team__box {
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
  }

  .team__figure {
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }

  .team__description {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
    background-color: #ffffff;
    max-width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.17;
    margin: 0%;
    gap: 0%;
  }

  .socials__icon {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .socials__icon--team {
    margin-left: 5px;
    margin-right: 5px;
    fill: #757575;
    background-color: #ffffff;
    border-radius: 50%;

    &:hover {
      fill: #ffffff;
      background-color: #2196f3;
      cursor: pointer;
      transition: 250ms;
    }
  }

  .team__icons-box {
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
  }
  .img {
    width: 270px;
    height: 260px;
  }
  .section__paragraf {
    max-width: 100%;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }
}
