@media screen and (min-width: 320px) and (max-width: 767px) {
  .article {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    // background-color: aquamarine;
  }

  // .article__container {
  //   max-width: 480px;
  //   margin: 0 auto;
  //   padding: 30px 15px;
  //   margin-top: 40px;
  // }

  .article__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;

    color: #757575;
    text-align: justify;
  }

  .article__box {
    max-width: 450px;
    display: inline-block;
  }

  .article__icon-box {
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }

  .article__paragraf {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .article {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 45px;
    // background-color: aquamarine;
  }

  // .article__container {
  //   max-width: 768px;
  //   margin: 0 auto;
  //   padding: 30px 15px;
  //   margin-top: 40px;
  // }

  .article__description {
    /* margin: 10 15px 15px; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    /* or 171% */
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;

    color: #757575;
    text-align: justify;
  }

  .article__box {
    max-width: 354px;
    display: inline-block;
  }

  .article__icon-box {
    width: 354px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }

  .article__paragraf {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .article {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    // background-color: aquamarine;
  }
  // .article__container {
  //   max-width: 1200px;
  //   margin: 0 auto;
  // }

  .article__description {
    /* margin: 10 15px 15px; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    /* or 171% */
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
    // background-color: cadetblue;
    color: #757575;
    text-align: justify;
  }

  .article__box {
    max-width: 270px;
    display: inline-block;
    // background-color: #757575;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
  }

  .article__icon-box {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    margin: 0px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }

  .article__paragraf {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 0;
    margin: 0;
    // background-color: darkred;
  }
}
