.main__portfolio {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio__box {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  margin: 0;
}

.portfolio {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-bottom: 44px;
  margin: 0;
  gap: 0;
}

.description-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #212121;
  max-width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  z-index: 1;
}

.portfolio__figure {
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 1%;
  border: 1px solid #eeeeee;

  &:hover {
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.figure__onlay {
  position: relative;
  overflow: hidden;
}
.portfolio__figure:hover .figure__onlay-hidden,
.portfolio__figure:focus .figure__onlay-hidden {
  transform: translateY(-100%);
}

.figure__onlay-hidden {
  background-color: #2196f3;
  position: absolute;
  padding-top: 20px;
  padding-left: 35px;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: transform 250ms ease;
}
.figure__text-hidden {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  width: 301px;
  text-align: justify;
}
.button--portfolio {
  color: #212121;
  background-color: #f5f4fa;
  margin-left: 8px;
  padding: 10px 32px;
  border-radius: 4px 4px 4px 4px;
  &:hover,
  &:focus {
    color: #ffffff;
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
